form {
    background-color: #f1f1f1;
    padding: 20px;
    margin: 0 auto;
    width: 300px;
  }
  
  input[type="text"], input[type="password"] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  .topNaviBar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content:space-evenly;
    list-style-type: none;
  }
  /* Style the links in the navigation bar */
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 14px 16px;
    list-style-type: none;
  }
  #logo-png{
    height: 40px;
    width: 164px;
    align-self: center;}