/*setting the thigns for the edit button*/
.edit {
    float: right;
    padding-right: 10px;
}
/* Set the background color of the website */
/* Style the navigation bar */
.topNaviBar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content:space-evenly;
    list-style-type: none;
  }
  /* Style the links in the navigation bar */
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 14px 16px;
    list-style-type: none;
  }
  /* Style the search bar */
  form {
    display: flex;
  }
  input[type="text"] {
    padding: 14px 16px;
    margin-right: 16px;
    border: none;
    background-color: #ddd;
  }
  button[type="submit"] {
    padding: 14px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  /* Style the heading and text on the website */
  h1, p {
    text-align: center;
    justify-content: center;
  }
  .card-img-top{
    height: 175px;
    width: 175px;
    ;
  }
  #res_map_real{
    height: 400px; /* The height is 400 pixels */
  width: 400px;
  }
#logo-png{
  height: 40px;
  width: 164px;
  align-self: center;
}
#addReview{
  width: 338px;
  height: 52px;
}
.card{
  outline: #333;
}
#delBtn{
  width: 100px;
  height: 100px;
  background-image: url('/Images/Icons/Icon-material-delete-forever.png');
}
#editBtn{
  width: 100px;
  height: 100px;
  background-image: url('/Images/Icons/Icon-feather-edit-3.png');
}